@model IEnumerable<proyectofinal.Models.AccountViewModels.Producto>

@{
    ViewData["Title"] = "IndexAdmi";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Lista de productos</h2>
<div>
    <a asp-controller="Home" asp-action="Administrador"><button type="button" id="btn4">Seleccionar otra acci&oacuten</button></a>
</div>
<hr />
<div id="Caja_admi">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaIngreso)
                </th>
                <th>
                    Codigo de empresa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso) kg
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                    </td>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.EmpresaId)</center>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>