@model proyectofinal.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Elinimar</h2>

<h3>
    ¿Estás seguro que quieres eliminar tu cuenta?
</h3>
<div>
    <h4>Al eliminar tu cuenta se eliminaran todos tus datos, datos de las empresas y productos.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre completo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompletoNombre)
        </dd>
        <dt>
            Nombre de usuario
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Confirmar Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt>
            Telefono
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Confirmar telefono
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar Cuenta" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al perfil</a>
    </form>
</div>
