@model proyectofinal.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>@Html.DisplayFor(model => model.CompletoNombre)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre completo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompletoNombre)
        </dd>
        <dt>
            Nombre de usuario
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Confirmar Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt>
            Telefono
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Confirmar telefono
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver al perfil</a>
</div>
